*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines 1rem
    font-size: 62.5%; // 1rem = 10px; 10/16=62.5%

    @include respond(tab-land) { // Width < 1200
        font-size: 56.25%; // 1rem = 9px; 9/16=50%
    }

    @include respond(tab-port) { // Width < 900
        font-size: 50%; // 1rem = 8px; 10/16=62.5%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem - 10px; 12/16=62.5%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}